<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/author.css">
    <link rel="stylesheet" href="css/Addauthor.css">
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body  background="images/glenn2.jpg">
<!-- <header class="navbar navbar-bright navbar-fixed-top " role="banner">
  <div class="container ">
    <div class="navbar-header" >
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand" >Home</a>
    </div>
    <nav class="collapse navbar-collapse " role="navigation">
      <ul class="nav navbar-nav" >
        <% for(i=0;i<nav.length;i++){%>
        <li>
          <a href= <%=nav[i].link%>><%=nav[i].name%></a>
        </li>
        <%}%>
      </ul>
  
    </nav>
  </div>
</header> -->

<!-- new nav -->
<nav>
  <div class="logo">
      <img src="/images/Ybin.gif"  alt="Logo Image">
      <a href="/"><h1 class="libhead">Library App</h1></a>
  </div>
  <div class="hamburger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
  </div>
  
  <ul class="nav-links">
    <!-- <li ><a href="/" class="login-button">Home</a></li> -->
    <li><a href="/adminlogin/add" class="login-button"><%=nav[0].name%></a></li>
    <li ><a href="<%=nav[3].link%>" class="login-button"><%=nav[3].name%></a></li>
    <li ><a href="/adminlogin/addauthor" class="login-button"><%=nav[4].name%></a></li>
    <li ><a href="<%=nav[5].link%>" class="join-button"><%=nav[5].name%></a></li>
    <li ><a href="<%=nav[8].link%>" class="login-button"><%=nav[8].name%></a></li>
   
      
      <!-- <li><a href=""></a></li> -->
      <!-- <li><a href="#">Solutions</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact Us</a></li> -->
      <!-- <li><a class="login-button" href="<%=nav[1].link%>"><%=nav[1].name%></a></li>
      <li><a class="join-button" href="#">Signup</a></li> -->
  </ul>
  
</nav>
<!-- new nav end -->



<div id="masthead" class="p-1">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Add author
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class=""> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer1"> </div>
      </div>
    </div> 
  </div>/cont -->
  
</div>

<!-- new -->
<!-- <div class="container" style="margin-top: 20px;">
  <div class="col-md-12 col-lg-12">
      <article class="post vt-post">
          <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                  <div class="post-type post-img">
                      <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-responsive" alt="image post"></a>
                  </div>
                  <div class="author-info author-info-2">
                      <ul class="list-inline">
                          <li>
                              <div class="info">
                                  <p>Posted on:</p>
                                  <strong>OCT 09, 2021</strong></div>
                          </li>
                          <li>
                              <div class="info">
                                  <p>Comments:</p>
                                  <strong>127</strong></div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                  <div class="caption">
                      <h2 class="md-heading"><a href="#">The Heading Text Size Should Match</a></h2>
                      <div class="row">
                        <div class="col-xs-9">
                          <h4><span class="label label-default " style="margin-left: 10px;">James Cameroon</span></h4><h4>
                          <small style="font-family:courier,'new courier';margin-left: 10px;" class="text-muted">Genere • </small>
                          </h4></div>
                        <div class="col-xs-3"></div>
                      </div>
                      <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. </p>
                      <a class="btn btn-default read" href="#" role="button">Read More</a> </div>
              </div>
          </div>
      </article>
      
      
      
      <article class="post vt-post">
          <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                  <div class="post-type post-img">
                      <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-responsive" alt="image post"></a>
                  </div>
                  <div class="author-info author-info-2">
                      <ul class="list-inline">
                          <li>
                              <div class="info">
                                  <p>Posted on:</p>
                                  <strong>OCT 09, 2021</strong></div>
                          </li>
                          <li>
                              <div class="info">
                                  <p>Comments:</p>
                                  <strong>127</strong></div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                  <div class="caption">
                     
                    
                     <h3 class="md-heading"><a href="#">The Heading Text Size Should Match</a></h3>
                     <div class="row">
                      <div class="col-xs-9">
                        <h4><span class="label label-default " style="margin-left: 10px;">James Cameroon</span></h4><h4>
                        <small style="font-family:courier,'new courier';margin-left: 10px;" class="text-muted">Genere • </small>
                        </h4></div>
                      <div class="col-xs-3"></div>
                    </div>

                     <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                      <a class="btn btn-default read" href="#" role="button">Read More</a> </div>
              </div>
          </div>
      </article>
      
      
      
      <article class="post vt-post">
          <div class="row">
              <div class="col-xs-12 col-sm-5 col-md-5 col-lg-4">
                  <div class="post-type post-img">
                      <a href="#"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="img-responsive" alt="image post"></a>
                  </div>
                  <div class="author-info author-info-2">
                      <ul class="list-inline">
                          <li>
                              <div class="info">
                                  <p>Posted on:</p>
                                  <strong>OCT 09, 2021</strong></div>
                          </li>
                          <li>
                              <div class="info">
                                  <p>Comments:</p>
                                  <strong>127</strong></div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-7 col-md-7 col-lg-8">
                  <div class="caption">
                      <h3 class="md-heading"><a href="#">The Heading Text Size Should Match</a></h3>
                      <div class="row">
                        <div class="col-xs-9">
                          <h4><span class="label label-default " style="margin-left: 10px;">James Cameroon</span></h4><h4>
                          <small style="font-family:courier,'new courier';margin-left: 10px;" class="text-muted">Genere • </small>
                          </h4></div>
                        <div class="col-xs-3"></div>
                      </div>
                      <p> Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.</p>
                      <a class="btn btn-default read" href="#" role="button">Read More</a> </div>
              </div>
          </div>
      </article>
      <div class="clearfix"></div>
  </div>
</div>
 -->

<!-- new end -->



<!-- <div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div> -->
       <!--/Addauthor-->
       <form action="/AddAuthor/add"  id="form" onsubmit="return validate()" method="post" enctype="multipart/form-data">
        <center style="margin-bottom: 20px;color: rgb(241, 225, 0);font-size: x-large;"><b>Author Details</b> </center>
        <div class="form-group">
            <label >Name of the Author</label>
            <input type="text" placeholder="Enter Author name" id="name" name="name" class="form-control"  >
            <p id="nameErr"></p>
        </div>
  
        <div class="form-group">
            <label >Book genre</label>
            <input type="text" placeholder="Type the book genre" id="genre" name="genre" class="form-control"  >
            <p id="genreErr"></p>
        </div>
        <!-- <div class="form-group">
            <label >Genre</label>
            <input type="text" placeholder="Type Genre" id="title" class="form-control"  >
            <p id="genreErr"></p>
        </div>
         -->
        <div class="form-group">
            <label >Book1</label>
            <input type="text" placeholder="Type Book Name1" name="book"  id="book1" class="form-control" accept="text" >
            <p id="book1Err"></p>
            <!-- <input name="password" id="password" type="password" size="15" maxlength="100" onkeyup="return passwordChanged();" /> -->
  
        </div>
        <div class="form-group">
          <label >Book2</label>
          <input type="text" placeholder="Optional"  id="book2" class="form-control" accept="text" >
          <p id="book2Err"></p>
          <!-- <input name="password" id="password" type="password" size="15" maxlength="100" onkeyup="return passwordChanged();" /> -->

      </div>
      <div class="form-group">
        <label >Book3</label>
        <input type="text" placeholder="Optional"  id="book3" class="form-control" accept="text" >
        <p id="book3Err"></p>
        <!-- <input name="password" id="password" type="password" size="15" maxlength="100" onkeyup="return passwordChanged();" /> -->

    </div>
        <div class="form-group">
            <label >Image</label>
            <input type="file"  id="file" class="form-control" name="image" onchange="showFiles()" accept="image/*">
            <p id="imgErr"></p>
        </div>
        <button id="submit" class="btn btn-primary btn-block"> ADD </button>
</form>
<br>
<br>

      <!--/stories-->







<footer style="margin-top: 30rem;">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Developed <i class="icon-heart-empty"></i> by <a href="https://www.linkedin.com/in/akhiljptvm/">AKHIL JP</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
     <script>
     const hamburger = document.querySelector(".hamburger");
     const navLinks = document.querySelector(".nav-links");
     const links = document.querySelectorAll(".nav-links li");

 hamburger.addEventListener('click', ()=>{
   //Animate Links
    navLinks.classList.toggle("open");
    links.forEach(link => {
        link.classList.toggle("fade");
    });

    //Hamburger Animation
    hamburger.classList.toggle("toggle");
});
    </script>
    <!-- form validation -->
   
   <script>

    
           function printError(elemId, hintMsg,elemId2) {
                     document.getElementById(elemId).innerHTML = hintMsg;
                     elemId2.style.border="solid 2px red";
        }
        
        
        function printNError(elemId, hintMsg,elemId2) {
                     document.getElementById(elemId).innerHTML = hintMsg;
                     elemId2.style.border="solid 2px green";
        }  
            
              
        function validate(){
         
            var nameV= document.getElementById("name");
            var genreV=document.getElementById("genre");
            var book1V=document.getElementById("book1");
            var imgV=document.getElementById("file");
                 
             var name=nameV.value.trim();  
             var book1=book1V.value.trim();
             var genre=genreV.value.trim();;
             var img=imgV.value;
             var nameErr = book1Err = genreErr = imgErr= true;
             
          
              if(name == "") {
              printError("nameErr", "Enter your name",nameV);
                } else {
              
                  printNError("nameErr", "",nameV);
                  nameErr = false;
                }
        
        
        
               if(book1 == "") {
              printError("book1Err", "Enter the Book",book1V);
              } else {
             
                  printNError("book1Err", "",book1V);
                  book1Err = false;
              }

        //       if(title1 == "") {
        //       printError("titleErr", "Enter the title",title);
        //   } else {
              
        //           printNError("titleErr", "",title);
        //           titleErr = false;
        //       }
        
              if(img == "") {
              printError("imgErr", "Chose the image",imgV);
          } else {
              
                  printNError("imgErr", "",imgV);
                  imgErr = false;
              }
            
        
        
             
        
        
          
        
          if(genre == "") {
              printError("genreErr", "Enter the Genre",genreV);
          } else {
              
                  printNError("genreErr", "",genreV);
                  genreErr = false;
              }
        
              if(img == "") {
              printError("imgErr", "Chose the image",imgV);
          } else {
              
                  printNError("imgErr", "",imgV);
                  imgErr = false;
              }
            
        
        
        
             
        
          
        
        
        
        
          if((nameErr || book1Err || genreErr || imgErr) == true) {
             return false;
          } else {
              // Creating a string from input data for preview
              var dataPreview = "You've entered the following details: \n" +
                                "title: " + title + "\n" +
                                "author: " + author + "\n" ;
             
              // Display input data in a dialog box before submitting the form
              alert(dataPreview);
              
          
               }
        }
        
        
                  
              
                   
                      
           </script>
	</body>
</html>