<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/userloginstyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link href="css/styles.css" rel="stylesheet">
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js"></script> -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

	</head>
	<body background="images/glenn2.jpg">

<!-- new nav -->
<nav>
  <div class="logo">
      <img src="/images/Ybin.gif"  alt="Logo Image">
      <a href="/"><h1 class="libhead">Library App</h1></a>
  </div>
  <div class="hamburger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
  </div>
  
  <ul class="nav-links">
    <li><a href="/" class="login-button">Home</a></li>
      
      <!-- <li><a href="<%=nav[0].link%>"><%=nav[0].name%> </a></li>
      <li><a href="<%=nav[3].link%>"><%=nav[3].name%> </a></li> -->
      
     <!-- <li><a href="#">Products</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact Us</a></li> -->
      <li><a href="<%=nav[1].link%>" class="join-button"><%=nav[1].name%></a></li>
      <li><a href="<%=nav[2].link%>" class="login-button"><%=nav[2].name%></a></li>
      
      
      <!-- <li><a href="" class="join-button" href="#">Signup</a></li> -->
  </ul>
  
</nav>
<!-- new nav end -->



<div id="masthead" class="p-1">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class=""> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  
</div>

<div class="login-box mt-2 ">
    <h2 class="p-3 animate__animated animate__pulse">USER LOGIN</h2>
    <form method="POST" id="form1">
      <div class="user-box">
        <input type="text" id="email1" required oninput="Typing()" name="email">
        <label>Email id</label>
      </div>
      
      <br>
      
      <div class="user-box">
        <input type="password"  id="pwd" required class="form__input" oninput="Typing()" name="password">
        <!-- <i class="bi bi-eye-slash" id="togglePassword"></i> -->
        <span class="icon"></span>
        <label>Password</label>
        <label for="error" id="error" hidden></label>
      </div>
      
        <!-- <input type="button" value="submit" disabled  id="btnfn login-button"> -->
        <input type="submit" class="submit" value="Log In" id="login-button" onclick="checklogin()"/>
      <!-- <button type="submit" id="btnfn login-button"> -->
        <!-- <a href="#" type="submit"> -->
          <!-- <span></span>
          <span></span>
          <span></span> -->
          <!-- LOGIN
         </a> -->
      
      <!-- </button> -->
      <br><br>
      <a class="text-primary" id="labelhint"   style="margin-left: 20%;font-weight: bold;" href="<%=nav[2].link%>">Don't have account? SignUp</a>
      
    </form>
  </div>

<!-- modal -->
<!-- <button onclick="document.getElementById('id01').style.display='block'">Open Modal</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Delete Account</h1>
      <p>Are you sure you want to delete your account?</p>
    
      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
      </div>
    </div>
  </form>
</div> -->
<!-- modal end -->







<footer  style="margin-top: 80rem;">
  <div class="container v-100">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline footfa">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right pullfoot">Developed <i class="icon-heart-empty"></i> by <a href="https://www.linkedin.com/in/akhiljptvm/">AKHIL JP</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/login_script.js"></script>
     <script>
     const hamburger = document.querySelector(".hamburger");
     const navLinks = document.querySelector(".nav-links");
     const links = document.querySelectorAll(".nav-links li");

 hamburger.addEventListener('click', ()=>{
   //Animate Links
    navLinks.classList.toggle("open");
    links.forEach(link => {
        link.classList.toggle("fade");
    });

    //Hamburger Animation
    hamburger.classList.toggle("toggle");
});
    </script>
<!-- 
<script>
  // Get the modal
  var modal = document.getElementById('id01');
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script> -->
  
	</body>
</html>